@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';

//////////////////
//// Colors //////
//////////////////
$blue: #2554A7;
$yellow: #F7A83A;
$red: #ED3C35;
$white: #FFFFFF;
$xx-light-gray: #F8F8F9;

.main{

	nav{
		.nav-wrapper {
			background-color: $blue;
			position: relative;
		    height: 10em;
		    padding-top: 4em;
		    text-transform: uppercase;
	    .brand-logo {
				margin-left: 2em;
				line-height: 1.8em;
				&:hover{
					color: $yellow;
				}
	    }
		  .hide-on-med-and-down {
				margin-right: 5em;
				li {
					&:hover, .active {
						background-color: transparent;
					}
		    	a {
		    	margin-left: 1.5em;
		    	font-size: 1.2em;
			    	&:hover{
			    		color: $yellow;
			    	}
			    }
		    }
		   }  
		}
		.side-nav {
			&:first-child{
				margin-top:2px;
			}
			img {
				border: 0;
	    		height: 8em;
	    		width: 100%;
	    		margin-top: 2.2em;
			}
		}
		.button-collapse{
			i{
				margin-left: 1em;
				line-height: 1.4em;
			}
		}  
	}

	.container{
		width: 90%;
		.category-hero{
			background: url("cltskyline.png");
    	background-size: 83em 23em;
    	background-repeat: no-repeat;
    	height: 17em;
	    margin-bottom: 1em;
	    margin-top: 7em;
		}
		.row {
			.col.s3{
				.card {
					text-align: center;
					img{
					}
				}
			}
		}
		h1{
			margin-top: 2em;
	    text-align: center;
	    padding-bottom: .5em;
	    font-size: 3em;
	    line-height: 2;
	    color: white;
	    -webkit-text-stroke: .7px gray;
		}
			.hero{
				width:100%;
				h1{
				font-size: 4em;
				text-align: center;
				padding-bottom: 1em;

			}
		}
		
		table{
			thead{
				border-bottom: none;
			}
			tr {
				th {
					text-align: center;
				}
			}
		}

		form#new_user {
    	margin-top: 7em;
    	.field{
				display: block;
	  		margin-top: 0em;
	  		margin: auto;
	  		width: 50%;
			}
			.actions{
				margin-left: 20.7em;
    		margin-top: 2em;
			}
		}
		.users-signup{
			margin-top: 2em;
			margin-bottom: 2em;
			a{
				margin-left: 20.7em;
				margin-top: 2em;
    		margin-bottom: 2em;
			}
		}
	}
}


